.modal-component .modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  top: -300px;
}
.modal-component .modal {
  transition: all 0.8s ease;
  background-image: url("./photo-1497015289639-54688650d173.avif");
  max-width: 300px;
  margin: 400px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.modal-component .modal p {
  margin: 20px;
}
.modal-component .modal button {
  background-color: red;
  margin-left: 30px;
  padding: 2px;
  border-radius: 5px;
}
.modal-component .modal .signup {
  background-color: lightgreen;
}
.modal-component .available {
  position: relative;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 2s; 
  animation-name: example;
  animation-duration: 4s;
  box-shadow: -0.3em 0px 2px 3px #afad81;
  color: darkgreen;
  font-weight: 600px;
  font-size: 20px;
}

@-webkit-keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 100px;
    top: 0px;
  }  
}

/* Standard syntax */
@keyframes example {
  0% {
    background-color: olive;
    top: 0px;
  }
  25% {
    background-color: lightgreen;  
    top: 0px;
  }
}
.modal-component .outofstock {
  border: 2px solid red;
  color: red;
  font-weight: 600px;
  font-size: 20px;
}
