.post .postList {
  display: flex;
  flex-grow: row-wrap;
  height: 70vh;
  margin: 10px;
  flex-wrap: wrap;
}
.post {
  height: 100vh;
}
.post .postList .single {
  margin: 10px;
  height: 230px;
  width: 150px;
  font-weight: 600;
  background-color: #66fafa;
}
